[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai-whisper = "*"
pytube3 = "*"
tqdm = "*"
speechbrain = "*"
fastcore = "*"
google = "*"
gradio-client = "*"
pyannote-audio = "*"
google-cloud = "*"
google-cloud-speech = "*"
onnx = "*"
onnxruntime = "*"
pydub = "*"
elevenlabs = "*"

[dev-packages]

[requires]
python_version = "3.9"
